# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE and Editor Files
.vscode/
.idea/

# Logs
logs/
*.log

# Dependency Directories
/node_modules

# Build Outputs
/build
/dist

# Environment Variable Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing Directories
/coverage

# Temporary Files
tmp/
temp/