:root {
    --primary-pink: #fb48a7;
    --light-pink: #ff7cba;
    --lighter-pink: #fecfe8;
    --pink-white: #fff3f9;
    --accent-yellow: #ffeb3b;
    --shadow-dark: rgba(0, 0, 0, 0.5);
    --hover-blue: #99caff;
    --selected: #c8cdff;
    --spotify-green: #1DB954;

    /* Font Family */
    --font-family: 'Fredoka One', sans-serif; /* Add the font-family variable */
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family); /* Apply font to headings */
}

body {
    background-color: var(--lighter-pink);
}


/* Add any other global styles you need here */


